# Ogólne
# PROCESS_NAME: Mt2009.exe, CarolineMT2.exe
PROCESS_NAME = Mt2009.exe
# RUNNING_MACHINE: virtual, computer
RUNNING_MACHINE = computer
POTION_RED_SLOT = F1
POTION_BLUE_SLOT = F2
WAITING_TIME = 1.76
EXAMPLE_RGB_POINT = (1080, 960, 50, 41, 78)

# Lowienie
TIME_START_FISHING = 5
TIME_BETWEEN_PRESS_KEY = 0.2
TIME_RESTART_FISHING = 44
TIME_BUBBLE_WAIT_FROM = 1.5
TIME_BUBBLE_WAIT_TO = 2.4
TIME_SCREENSHOT = 0.2
TIME_CHECKING_GAME = 2.8
TIME_MAX_FISH_GAME = 19.5
TIME_WAIT_AFTER_GAME_FROM = 4.2
TIME_WAIT_AFTER_GAME_TO = 4.5
TIME_WAIT_NO_FISH_FROM = 1.0
TIME_WAIT_NO_FISH_TO = 1.7
TIME_WAIT_LOOP = 0.3
ALARM_COUNT_LOOP = 3
# Lowienie, wspolrzedne:
IS_MESSAG_X_01 = 745
IS_MESSAG_Y_01 = 192
BOTTOM_GAME_X = 325
BOTTOM_GAME_Y = 444
TOP_GAME_X = 325
TOP_GAME_Y = 155
FISH_Y_OFFSET = 9
IS_GAME_ON_X = 300
IS_GAME_ON_Y = 446
IS_FISH_X = 420
IS_FISH_Y = 40
# Lowienie, kolory:
R_COL_IS_MSG = 232
G_COL_IS_MSG = 222
B_COL_IS_MSG = 244
